<nav class="white">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">
            <i class="left ion ion-arrow-shrink" style="color: turquoise"></i> Byarent
        </a>
        <ul class="right">
            <li><a href="/dashboard" class="hide-on-small-only waves-effect">Dashboard</a></li>
            <li><a href="/logout" class="waves-effect" style="color:#2fb8ad">Logout</a></li>
        </ul>
    </div>
</nav>

<div style='padding-left:10%; padding-right: 10%' >
    <table class="highlight centered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
            </tr>
        </tbody>
    </table>
</div>