<nav class="white">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">
            <i class="left ion ion-arrow-shrink" style="color: turquoise"></i> Byarent
        </a>
        <ul class="right">
            <li><a href="/dashboard" class="hide-on-small-only waves-effect">Dashboard</a></li>
            <li><a href="/logout" class="waves-effect" style="color:#2fb8ad">Logout</a></li>
        </ul>
    </div>
</nav>

<div style='padding-left:10%; padding-right: 10%' >
    
    <% if(houses){ %>
        
    <table class="highlight centered">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Quantity</th>
                
            </tr>
        </thead>
    
        <tbody>
            <% houses.forEach((house)=>{ %>
                <tr>
                    <td><%= house.item.item_name %></td>
                    <td><%= house.price %></td>
                    <td><%= house.qty %></td>
                    <td>
                        <div class="input-field " style="width: 90px">
                            <select class="browser-default">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1"><a href="#">Option 1</a></option>
                                <option value="2"> <a href="##">Option 2</a></option>
                                <option value="3"><a href="###">Option 3</a></option>
                            </select>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <div class="row" style=" padding-left: 8%">
        <strong>Total: <%= totalPrice %></strong>
    </div>
    <div class="row" style=" padding-left: 8%">
    <a href="/checkout"><button class="btn waves-light turquoise"
        style="border-radius: 12px; margin: 0 auto; text-align: center;">Checkout</button></a>
    </div>
    <% } else { %>
        <p>No Data</p
    <% } %>
    
</div>