
<% include partials/nav%>
<!-- Section 1 -->
<div class="section" style="margin-top:90px">
    <div class="section " style="margin:0">
        <div class="row">
            <div class="col s6">
                <div class="container">
                    <h1>A Better way to buy your <span>favorite houses.</span> </h1>
                    <h5 style=" font-size: 1.2rem; line-height: 100%; margin: 0.82rem 0 0.656rem 0;" line-height="15px"
                        color="#2B2B2B" font-weight="normal"> Search our listings for
                        entire or shared homes with flexible durations and payments plans. </h5>
                </div>
            </div>
            <div class="col s6">
                <img src="/images/1.png" alt="Better-way-to-buy-houses" class="container">
            </div>
        </div>
    </div>

    <!-- Section 2 -->
    <div class="section" style="background-color:rgb(249, 250, 252); margin:0 0 ">
        <div class="container"
            style="color: #2B2B2B; margin-top: 0; font-size: 2rem; text-align: center; margin-bottom: 0; padding-top: 1.675rem; font-family: Tiempos Headline; font-weight: 700; display: block">
            <p>You're three steps away from your perfect home</p></div>
        <div class="row">
            <div class="col s6">
                <div class="container">
                    <p style="color: #072C63; text-transform: uppercase; font-weight: 700; font-size: 15px; margin-top: 125px"> flexible options</p>
                    <p style="color: #2B2B2B; font-family: Tiempos Headline; font-weight: 700; line-height: 35.0px; font-size: 35.0px; margin-top: 0 " >Find the home you need</p>
                    
                    <p style=" color: #5E6E7D; font-size: 16.2px">We offer flexible options, designed around your needs.Browse shared or entire homes by where you want to live and how frequently you want to pay</p>
                </div>
            </div>
            <div class="col s6">
                <img src="/images/2.png" alt="Better-way-to-buy-houses" class="container">
            </div>
        </div>
    </div>

    <!-- Section 3 -->
    <div class="section" style="background-color:rgb(249, 250, 252); margin:0 0 ">
        <div class="row">
            <div class="col s6" style="padding-left:7%">
                <img src="/images/3.png" alt="Better-way-to-buy-houses" class="container">
            </div>
            <div class="col s6">
                <div class="container">
                    <p style="color: #072C63; text-transform: uppercase; font-weight: 700; font-size: 15px; margin-top: 125px"> online booking</p>
                    <p style="color: #2B2B2B; font-family: Tiempos Headline; font-weight: 700; line-height: 35.0px; font-size: 35.0px; margin-top: 0 ">Shedule a visit</p>
                    <p style=" color: #5E6E7D; font-size: 16.2px">You can easily book a tour of your prospective home online. <br> Our neighbourhood reps are readily available to show you around at no cost to you</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 4 -->
    <div class="section " style="background-color:rgb(249, 250, 252); margin:0 0 ">
        <div class="row">
                <div class="col s6">
                <div class="container">
                    <p style="color: #072C63; text-transform: uppercase; font-weight: 700; font-size: 15px; margin-top: 125px"> Streamlined process</p>
                    <p style="color: #2B2B2B; font-family: Tiempos Headline; font-weight: 700; line-height: 35.0px; font-size: 35.0px; margin-top: 0 ">Book in minutes, not days</p>
                    <p style=" color: #5E6E7D; font-size: 16.2px">You can buy your future home in a few clicks. We've streamlined the entire process to get you moved in, faster.</p>
                </div>
            </div>
            <div class="col s6">
                <img src="/images/4.png" alt="Better-way-to-buy-houses" class="container">
            </div>
        </div>
    </div>

    <!-- Explore -->
    <div class="section">
        <!-- Heading -->
        <div class="row">
            <div class="col-s12" style="margin-top:30px">
                <p style="color: #2B2B2B; font-family: Tiempos Headline; font-weight: 700;
                 line-height: 35.0px; font-size: 35.0px; margin-top: 0; text-align: center ">Explore by neighborhood</p>
            </div>
        </div>

        <!-- Heading-details -->
        <div class="row" style="margin-top:-35px; margin-bottom: 20px">
                <p style=" color: #2b2b2b; font-size: 16.2px; margin: 0; text-align: center; font-weight: 400">
                    We provide living options in popular neighborhoods. Browse by location:</p>
        </div>

        <!-- Neighborhood -->
        <div class="container">
            <div class="row" style="margin: 0">
                <div class="col s3">
                    <div style="background-color:grey; background-image: url(/images/img1.jpg); background-size: cover;  min-height: 250px">
                        <p style="text-align: center; color: white; font-weight: 700; padding-top: 120px">Victoria Island</p>
                    </div>
                </div>
                <div class="col s3">
                    <div style="background-color:grey; background-image: url(/images/img2.jpg); background-size: cover;  min-height: 250px">
                       <p style="text-align: center; color: white; font-weight: 700; padding-top: 120px">Ikoyi</p>
                    </div>
                </div>
                <div class="col s3">
                    <div style="background-color:grey; background-image: url(/images/img3.jpg); background-size: cover;  min-height: 250px">
                        <p style="text-align: center; color: white; font-weight: 700; padding-top: 120px">Lekki</p>
                    </div>
                </div>
                <div class="col s3">
                    <div style="background-color:grey; background-image: url(/images/img4.jpg); background-size: cover;  min-height: 250px">
                        <p style="text-align: center; color: white; font-weight: 700; padding-top: 120px">Lekki Phase II</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>