<% include ../partials/nav %>
<form action="/users/login" method="POST" style="margin-top:90px">
    <input type="email" name="email" placeholder="Enter email">
    <input type="passoword" name="password" placeholder="Enter password">
    <button type="submit">Submit</button>
</form>