<nav class="white">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">
            <i class="left ion ion-arrow-shrink hide-on-small-only" style="color: turquoise"></i> Byarent
        </a>
        <ul class="right">
            <li><a href="/showcase" class=" waves-effect">Browse homes</a></li>
            <li><a href="/login" class="waves-effect hide-on-small-only" style="color:#2fb8ad">Login</a></li>
            <li><a href="/register" class="btn waves-effect waves-light turquoise hide-on-small-only"
                    style="border-radius: 12px">Get Started</a></li>
        </ul>
    </div>
</nav>

<form action="/register" method="POST" style="width: 350px; margin: 0 auto; margin-top: 120px">
    <div>
        <input type="email" name="email" placeholder="Enter email">
    </div>
    <div>
        <input type="password" name="password" placeholder="Enter password">
    </div>
    <div>
        <input type="password" name="password2" placeholder="Enter password">
    </div>
    <button type="submit" class="btn turquoise"
     style="border-radius: 12px; margin: 0 auto; text-align: center">Submit</button>
</form>
