<form action="/users/register" method="POST">
    <div>
        <input type="email" name="email" placeholder="Enter email">
    </div>
    <div>
        <input type="password" name="password" placeholder="Enter password">
    </div>
    <div>
        <input type="password" name="password2" placeholder="Enter password">
    </div>
    <button type="submit">Submit</button>
</form>