<nav class="white">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">
            <i class="left ion ion-arrow-shrink" style="color: turquoise"></i> Byarent
        </a>
        <ul class="right">
            <% if((user.email === "musa@gmail.com")){ %>
            <li><a href="/houses/new"> <span style="font-size:2.5rem">+</span></a></li>
            <% } else { %>
            <li><a href="/houses" class="hide-on-small-only waves-effect">Browse homes</a></li>
            <li><a href="/cart" class="btn hide-on-small-only waves-effect"><span style="color:turquoise">
                        MY CART
                        <% if(typeof session.cart === "undefined"){ %>
                        0
                        <% } else {%>
                        <%= session.cart.totalQty %>
                        <% }%>
                </a>
            </li>
            <%}%>
            
            <li><a href="/logout" class="waves-effect" style="color:#2fb8ad">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:70px">
    <form action="/houses" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Item Name</label>
            <input type="text" name="item_name" class="form-control">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" class="form-control">
        </div>
        <div class="form-group" style="margin-top:30px">
            <div>
                <label>Picture</label>
            </div>
            <input type="file" class="form-control" name="picture" accept="image/*" required>
        </div>
        <button class="btn" style="border-radius: 12px; margin-top: 30px; " >Submit</button>
    </form>
</div>